img{
    height: 500px !important;
    width: 100% !important;
}
.col{
    margin-top: 10px;
}
img{
height: 180px !important;
}
.carousel-inner>.carousel-item>img:hover{
    height: 300px !important;
    

}
.carousel-inner{
    /* box-shadow: 10px 10px 100px rgb(43, 81, 2) !important;  */
}
.card{
    margin-top: 10px !important;
    box-shadow: 10px 10px 50px rgb(43, 81, 2) !important;
    /* height: 200px !important; */
}
.carousel-item>img{
    box-shadow: 10px 10px 50px rgb(43, 81, 2) !important;
}
.col>img{
    height: 100px  !important;
    width: 100px !important;
}
.footer{
    margin-top: 20px;
    padding-top: 20px;
}